    .ImageDrop-body {
        color: #7a6dee;
        // padding: 2em;
        height: 101px;
    }

    .create-gallery-dropbox {
        height: auto;
        background-color: #5D9DE6;
        color: #1D09CF;
        border: 1px solid black;
    }

    .create-gallery-dropbox p {
        text-align: left;
        margin: auto;
        padding: 1em;
    }

    .edit-gallery-image-drop-box-album-info {
        // display: flex;
        // justify-content: space-evenly;
        margin-bottom: 20px;
    }

    .edit-gallery-image-drop-box-name {
        width: 370px;
        height: 34px
    }
    
    .edit-gallery-image-drop-box-description {
        width: 370px;
        height: 34px
    }

    .edit-gallery-image-flex-box {
        display: flex;
        justify-content: space-evenly;
    }

    .create-gallery-dropbox button {
        background-color: #1578E8;
        border: 0;
        border-radius: 19px;
        height: 2em;
        width: 40%;
        color: white;
    }
