    .edit-gallery-image-drop-box-dropper {
        width: 40%;
        text-align: center;
        margin: auto;
        height: 100px;
        border-radius: 25px;
        margin-bottom: 1em;
        border: 1px solid black;
    }

    #imagedrop-image-preview {
        padding: 1em;
        display: flex;
        justify-content: space-evenly;
    }

    #imagedrop-image-preview img {
        width: 100px;
        margin-left: 2px;
    }
