@media screen and (max-width: 601px) {
	.meet-the-crew {
		width: 100%;
	}

	.meet-the-crew-card {
		width: 98%;
		margin: 1rem auto;
		background-color: #9dbfe6;
		margin-bottom: 1rem;
	}

	.meet-the-crew-list {
		background-color: #9dbfe6;
		font-weight: bold;
	}
}

@media screen and (min-width: 601px) and (max-width: 1120px) {
	.meet-the-crew {
		width: 70%;
		margin: 1rem auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.meet-the-crew-card {
		width: 18rem;
		background-color: #9dbfe6;
		margin-bottom: 1rem;
	}

	.meet-the-crew-list {
		background-color: #9dbfe6;
		font-weight: bold;
	}
}

@media screen and (min-width: 1121px) {
	.meet-the-crew {
		width: 80%;
		margin: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.meet-the-crew-card {
		width: 18rem;
		background-color: #9dbfe6;
		margin-bottom: 1rem;
	}

	.meet-the-crew-list {
		background-color: #9dbfe6;
		font-weight: bold;
	}
}
