.crew-container {
    margin-top: 10px;
    margin-bottom: 20px;
  }

@media screen and (max-width: 600px) {
  .crew img {
    max-width: 200px;
  }
}

@media screen and (min-width: 601px) {
    .crew img {
        width: 300px;
      }

      .crew-container {
        margin-left: 10%;
      }

      .crew h3 {
          text-align: center;
      }
}
