
.contact {
    color: black;
}

@media screen and (max-width: 600px) {
    .contact {
        background-color: #9DBFE6;
        margin: auto;
        text-align: left;
        padding: 1rem;
    }

    .social-media img {
        max-width: 40px;
        padding: 10px;
    }

    .contact-us-form {
        text-align: left;
        padding: 1rem;
        margin: 1em auto 2em;
        background-color: #9DBFE6;
        color: black;
    }

    .contact-us-container {
        margin: auto;
        width: 100%;
    }

    .contact-us-form input {
        margin-bottom: 10px;
        width: 80%;
        height: 2em;
    }

    .contact-us-form textarea {
        width: 90%;
        height: 180px;
    }

}

@media screen and (min-width: 601px) and (max-width: 1120px) {
    .contact-us-container {
        margin: auto;
        width: 810px;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .contact-us-form {
        margin-left: 10px;
        width: 400px;
        padding: 10px;
        background-color: #9DBFE6;
        border: 1px solid black;
        color: black;
    }

    .contact {
        background-color: #9DBFE6;
        width: 400px;
        font-size: 18px;
        padding-left: 20px;
        border: 1px solid black;
    }

    
.social-media img {
    max-width: 40px;
    padding: 10px;
}
}

@media screen and (min-width: 1121px) {
    .contact-us-container {
        margin: auto;
        width: 810px;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .contact-us-form {
        margin-left: 10px;
        width: 400px;
        padding: 10px;
        background-color: #9DBFE6;
        border: 1px solid black;
        color: black;
    }

    .contact {
        background-color: #9DBFE6;
        width: 400px;
        font-size: 18px;
        padding-left: 20px;
        border: 1px solid black;
    }

    .social-media img {
        max-width: 45px;
        padding: 10px;
    }

    .contact h3, h4 {
        margin-bottom: 2px;
    }


    .contact-us-form p {
        margin: 1em auto;
    }

    .contact-us-form label {
        font-size: 18px;
    }
}