@import '../../../index';

.edit-newsletter-form {
    background-color: $panelColor;
    width: 100%;
    padding: 1em;
    text-align: left;
}

.Modal {
    //background-color: lime;
    border: 4px solid lime;
    padding: 1em;
    //background-color: rgba(0, 255, 0, 0.151);
    position: absolute;
    width: 200px;
    text-align: center;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}