@import '../../../index';

table, th, td {
    border: 1px solid black;
    cursor: pointer;
  }

.student-table {
    width: 600px;
    margin: auto;
}

.add-new-student {
    font-size: 1.2rem;
    //text-align: center;
    width: 600px;
    margin: 2em auto;
}

.add-new-student span {
    font-weight: bold;
    cursor: pointer;   
}

.add-students-form {
    width: 640px;
    margin: auto;
    background-color: $panelColor;
    text-align: center;
    padding: 1em;
}

.add-students-form h3 {
    margin: 1em auto;
}

.student-add-box {
    //margin: 1em auto;
}

.student-add-form {
    width: 600px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.edit-student-data {
    cursor: pointer;
    margin: .3em auto;
    width: auto;
}

.edit-student-data :hover {
    text-decoration: underline;
}

.edit-student-field {
    margin: .2em .2em;
}