@media screen and (max-width: 600px) {
    .learn {
        //color: #9AF6E0;
        width: 98%;
        margin: auto;
    }

    .learn ul {
        text-align: left;
    }
}

@media screen and (min-width: 601px) and (max-width: 1120px) {
    .learn {
        //color: #9AF6E0;
        width: 98%;
        margin: auto;
    }
}

@media screen and (min-width: 1121px) {
    .learn {
        //color: #9AF6E0;
        font-size: 1.2em;
        margin-left: 300px;
        margin-top: 125px;
    }

    .learn-dive-package-info {
        width: 60%;
        background-color: #5D9DE6;
        // background-color: #9dbfe691;
        color: black;
        margin-top: 20px;
        // padding-left: 1em;
        border-radius: 6px;
        // box-shadow: 2px 4px 4px 0px rgb(143, 143, 143);
    }

    .learn-dive-package-info-title {
        margin-top: 0;
        font-size: 1.4em;
        text-align: center;
        margin-top: 0;
        background-color: lightskyblue;
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
    }

    .learn-dive-package-info-body {
        padding: 1em;
    }

    .learn-dive-package-info-body a {
        color: blue;
        cursor: pointer;
    }
}